*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open", sans-serif;
}



.biblio{
    width: 400px;
    height: 60vh;
    margin: auto auto;
    margin-top: 100px;
    
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    /*border: 5px solid #4d4d4d;*/
    box-shadow: 0 0 40px #000000a1;
}
.content h2{
    width: 100%;
    text-align: center;
    font-size: 44px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(193, 0, 42);
    color: #fff;
    padding: 10px;
}
.input-user form{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content input{
    border: none;
    border-bottom: 2px solid rgb(193, 0, 42);
    padding: 10px;
    margin: 20px;
    color: #000;
    
}


.content input:focus{
    outline: none;
}

#submit{
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: rgb(193, 0, 42);
    color: #fff;
    font-size: 16px;
}
#submit:hover{
    background-color: rgba(193, 0, 42, 0.755);
}
